@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Roboto', 'sans-serif';
}

body {
  background-color: #f8f8f8; 
}

.link-container {
  position: relative;
  display: inline-block;
  margin-right: 1.5rem; 
  cursor: pointer;
}

.link-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-container:hover::after {
  transform: scaleX(1);
}
